.header {
	position: fixed;
	width: 100%;
	background-color: $darkBlue;
	box-shadow: 0px 3px 6px $boxShadow;
	margin-bottom: 9px;
	z-index: 12;
	@include media-breakpoint-down(md) {
		margin-bottom: 30px;
	}
	&__buttons {
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@include media-breakpoint-down(sm) {
			span {
				display: none;
			}
			.button::before {
				margin-right: 0;
			}
		}
	}

	.user-card {
		// .user-card__info

		&__info {
			display: inline-grid;
			grid-template: auto auto / 35px 105px;
			column-gap: 10px;
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 10px;
			border-top: 0 solid rgba($white, 0.5);
			border-bottom: 0 solid rgba($white, 0.5);
			border-left: 1px solid rgba($white, 0.5);
			margin-bottom: 0;
			margin-left: 10px;
			width: 100%;
			max-width: 140px;
			min-width: 70px;
			cursor: pointer;
			transition: opacity 0.3s ease-in-out;
			@media (any-hover: hover) {
				&:hover {
					opacity: 0.6;
				}
			}
			@include media-breakpoint-down(xl) {
				grid-template: auto auto / 35px 1fr;
			}
		}

		// .user-card__img

		&__img {
			grid-row: span 2;
			text-align: center;
			align-self: center;
			border: 1px solid $white;
			border-radius: 100%;
			overflow: hidden;
			img {
				display: block;
				width: 100%;
			}
		}

		// .user-card__lastname

		&__name {
			text-align: start;
			font-size: 12px;
			color: $white;
		}

		// .user-card__logout

		&__logout {
			display: flex;
			align-items: center;
			text-decoration: none;
			font-size: 14px;
			color: $white;
			margin-left: 2%;
			transition: color 0.3s ease-in-out;
			&::before {
				margin-right: 8px;
			}
		}
	}
}

.header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 70px;
}

.home-header {
	background-color: $white;
	margin-bottom: 0;
	@include media-breakpoint-down(md) {
		margin-bottom: 0;
	}
}

.logo {
	display: inline-flex;
	align-items: center;
	overflow: visible;
	@include adaptiv-value("width", 143, 100, 1);
	margin-bottom: -10px;
	img {
		display: block;
		width: 100%;
	}
	position: relative;
	overflow: visible;
	.text-line {
		stroke-dasharray: 500;
		stroke-dashoffset: 500;
		stroke-width: 1;
	}
}

.logo.logo-white {
	& .text-line {
		width: 100%;
		animation: dashWite 5s linear forwards, fillingWhite 5s ease-in forwards;
		stroke: #fff;
		overflow: visible;
		@keyframes dashWite {
			to {
				stroke-dashoffset: 0;
			}
		}

		@keyframes fillingWhite {
			0%,
			90% {
				fill: rgba(#ffffff, 1);
				fill-opacity: 0;
				stroke: #fff;
			}
			100% {
				fill: rgba(#ffffff, 1);
				fill-opacity: 1;
				stroke: #06b2bb;
			}
		}
	}
}

.logo.logo-blue {
	& .text-line {
		width: 100%;
		animation: dashBlue 5s linear forwards, fillingBlue 5s ease-in forwards;
		stroke: #039ba3;
		overflow: visible;
	}

	@keyframes dashBlue {
		to {
			stroke-dashoffset: 0;
		}
	}

	@keyframes fillingBlue {
		0%,
		90% {
			fill: rgba(#06b2bb, 1);
			fill-opacity: 0;
		}
		100% {
			fill: rgba(#06b2bb, 1);
			fill-opacity: 1;
			stroke: #fff;
		}
	}
}
